body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}


.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: white;
  border-bottom: 2px solid #ccc;
}

.logo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-left img {
  width: 50px;
}

.logo-right img {
  width: 80px;
}

.top-header h1 {
  font-size: 18px;
  margin: 0;
  color: #003366;
}

.top-header p {
  margin: 0;
  font-size: 13px;
}


.navbar {
  background: #0b3c68;
  display: flex;
  padding: 8px 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  font-size: 14px;
}

.navbar a:hover {
  background: #072b4d;
}

.container {
  width: 95%;
  margin: 15px auto;
}


.note {
  background: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}


.box {
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.box-title {
  background: #2e75b6;
  color: white;
  padding: 8px;
  font-size: 15px;
}


.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 15px;
}

label {
  font-size: 13px;
  display: block;
  margin-bottom: 4px;
}

input, select, textarea {
  width: 100%;
  padding: 5px;
  font-size: 13px;
}

textarea {
  height: 60px;
}

.radio {
  font-size: 13px;
}